NEXT_PUBLIC_API_ENDPOINT="http://localhost:3000"
NEXT_PUBLIC_PROD_API_ENDPOINT="https://your-production-domain.example.com"

AUTH_SECRET="YOUR_RANDOM_32_CHAR_SECRET"

DATABASE_URL="postgresql://user:password@host/db?sslmode=require"

GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET"

GITHUB_CLIENT_ID="GITHUB_CLIENT_ID"
GITHUB_CLIENT_SECRET="GITHUB_CLIENT_SECRET"

NODEMAILER_GOOGLE_SMTP_USER="example@email.com"
NODEMAILER_GOOGLE_ACCESS_TOKEN=""
NODEMAILER_GOOGLE_REFRESH_TOKEN=""

UPSTASH_REDIS_REST_URL="https://your-upstash-rest-url"
UPSTASH_REDIS_REST_TOKEN="YOUR_UPSTASH_REST_TOKEN"

QSTASH_URL="https://qstash.upstash.io"
QSTASH_TOKEN="YOUR_QSTASH_TOKEN"
QSTASH_CURRENT_SIGNING_KEY="CURRENT_QSTASH_SIGNING_KEY"
QSTASH_NEXT_SIGNING_KEY="NEXT_QSTASH_SIGNING_KEY"

RESEND_TOKEN="YOUR_RESEND_TOKEN"

UPLOADTHING_TOKEN="YOUR_UPLOADTHING_TOKEN"
